body {
    background-color: #A03765;
    background-image: url("sakura.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.center {

  overflow: auto;
  margin: auto;
  margin-top: 70px;

  width: 70%;
  height: auto;

  border: 0px solid #ffff005c;
  padding: 10px;

  background-color: #ffff005c;
  border-radius: 11px;
    
}
ul {
  margin: 0;
  padding: 0;
}
items{
    cursor: pointer;
    position: relative;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;

}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header {
  background-color: #fb180782;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin-bottom: 2px;
}
input {
  margin: 0;
  border: none;
  border-radius: 3px;
  width: 70%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.button {
  padding: 10px;
  width: 25%;
  background: #BEF479;
  color: red;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}
.button:hover,
.button:focus {
  box-shadow: 0 0.10em 0.10em -0.6em var(--hover);
  transform: translateY(-0.35em);
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eeeeeec4;
  font-size: 18px;
  transition: 0.2s;
  border-radius: 4px;
  border-bottom: 1px solid #cc4646ad;
  margin-bottom: 2px;
  
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li span{
  position: absolute;
  right: 10px;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #a1c6fde5;
  color: rgb(255, 255, 255);
  text-decoration: line-through;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
  
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.btn {
  padding: 10px;
  width: 50px;
  background: #BEF479;
  color: red;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  margin-bottom: 2px;
  position: fixed;
    bottom: 25px;
    right: 30px;
}

